{% extends "base.html" %}
{% load mathfilters %}
{% load formatSeconds %}
{% load static %}
{% block title %}Maintenance{% endblock %}
{% block content %}
<a href={% url 'maintenance' 1 %}>Récupèrer les détails + cols des activités "Ride" (sans commute)</a><br>
<a href={% url 'maintenance' 2 %}>Récupèrer les streams des activités "Ride" (sans commute)</a><br>
<a href={% url 'maintenance' 9 %}>Recupèrer les détails des matériels</a><br>
<a href={% url 'maintenance' 4 %}>Scanner les activités avec détails pour trouver les cols</a><br>
<a href={% url 'maintenance' 5 %}>Calculer les courbes CP</a><br>
<a href={% url 'maintenance' 6 %}>Chercher les tuiles (zoom 14)</a><br>
<a href={% url 'maintenance' 8 %}>Mettre à jour les activités modifiées</a>

<br>
<br>

<a href={% url 'maintenance' 3 %}>Supprimer tous les cols des activités</a><br>

<a href={% url 'maintenance' 7 %}>Nettoyer les tiles</a><br>
{% endblock %}
